.AddTaskModal {
    width: 20rem;
}

.task-modal-input-container {
    margin-top: 5px;
    margin-bottom: 5px;
}
.close-modal:hover {
    cursor: pointer;
    color: rgba(255, 0, 0, 0.8);
}
.close-modal {
    width: min-content;
}

.close-modal-wrap {
    justify-content: right;
}

.inp-wrap {
    display: flex;    
}

.align-center{
    align-items: center;
}

.dynamic-wrap {
    justify-content: space-between;
    align-items: center;
}
.field-tag {
    min-width: 90px;
}

.name-input {
    width: 100%;
}
textarea {
    width: 100%;
}
.warning {
    margin-bottom: 8px;
}