body {
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 20px 20px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 1px, transparent 0px), linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0px);
}

div {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.button-standard {
  height: 32px;
  width: auto;
  background: none;
  border: 0.5px solid;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.button-standard:hover {
  border-color: green;
  color: green;
}