.TaskChip {
    width: 16rem;
    background-color: white;
    height: 15rem;
    border-radius: 20px;
    border: 1px solid;
    color: grey;
    margin-top: 12px;
    margin-bottom: 12px;
    position: relative;
}

.delete-chip {
	position: absolute;
	cursor: pointer;
	margin-left: 14.5rem;
	margin-top: 20px;
}

.task-title-wrapper {
    color: black;
    width: 80%;
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.task-title {
    justify-content: center;
    font-size: larger;
    padding: 12px;
}

.task-importance {
    justify-content: center;
}

.task-content {
    justify-content: center;
    padding: 12px;
    height: 7rem;
    word-break: break-all;
    white-space: normal;
}

.task-title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    margin-left: 8px;
}
