.TaskTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.task-table-inner {
    height: 100%;
    border-left: 1px solid;
}

.table-title {
    border-bottom: 1px solid;
}