.TaskTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.task-table-inner {
    height: 100%;
    border-left: 1px solid;
    overflow-y: scroll;
}

.task-table-inner-drag {
	border: 1px dashed blue;

}
.table-title {
    border-bottom: 1px solid;
}
.table-dyn-drag {
	min-height: 95%;	
	margin: 12px;

}
